<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:component-scan base-package="com.study.spring.case03" />
	
	<!--
		use-default-filters="true" 可以排除 <context:exclude-filter> 所定義的
	-->
	<!-- 
	<context:component-scan base-package="com.study.spring.case03" use-default-filters="true">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:exclude-filter type="assignable" expression="com.study.spring.case03.service.Util"/>
	</context:component-scan>
	 -->
	<!--
		use-default-filters="false" 只會掃描 <context:include-filter> 所定義的
		Util 類別可以不加上 @Component
		<context:include-filter type="assignable" expression="com.study.spring.case03.service.Util"/>
	-->
	<!-- 
	<context:component-scan base-package="com.study.spring.case03" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="assignable" expression="com.study.spring.case03.service.Util"/>
	</context:component-scan>
	 -->
	<!-- 
	<bean class="com.study.spring.case03.controller.UserController"></bean>
	<bean class="com.study.spring.case03.service.UserServiceImpl"></bean>
	<bean class="com.study.spring.case03.dao.UserDaoImpl"></bean>
	 -->
	 
</beans>
